language: php

php:
  - 5.5
  - 5.6
  - nightly

env:
  - SYMFONY_VERSION=2.7.*

before_script:
  - composer require symfony/symfony:${SYMFONY_VERSION}

script: phpunit --coverage-text

notifications:
  email: "hugo.monteiro@gmail.com"

matrix:
  allow_failures:
    - env: SYMFONY_VERSION=dev-master
